/* X-Small devices (portrait phones, less than 576px) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  background-position: center center;
  background: linear-gradient(#e66465, #9198e5);
}

h2 {
  color: white;
}

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quest {
  color: white;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 8px 8px;
}

.bg-box_a, .bg-box_b, .bg-box_c, .bg-box_d {
  display: flex;
  width: 11.5rem;
  height: 11.5rem;
  align-items: center;
  border-radius: 1.3rem;
  justify-content: center;
  background-color: #f6f6f8;
  margin: 1rem 1.8rem 1.5rem 1.8rem;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.1);
}

.bg-box_a:hover,
.bg-box_b:hover,
.bg-box_c:hover,
.bg-box_d:hover,
.bg-box_a:focus,
.bg-box_b:focus,
.bg-box_c:focus,
.bg-box_d:focus {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.4);
  transform: translateY(-3px);
  outline: none;
}

.bg-box_a span, .bg-box_b span, .bg-box_c span, .bg-box_d span {
  font-size: 1.7rem;
  color: #f6f6f8;
  display: flex;
  margin-top: 2rem;
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border-radius: 3rem;
}

.bg-box_a p, .bg-box_b p, .bg-box_c p, .bg-box_d p {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.base-timer {
  position: relative;
  margin-bottom: 1.5rem;
  height: 280px;
  width: 280px;
}

.base-timer__label {
  top: 0;
  width: 280px;
  height: 280px;
  display: flex;
  color: #f6f6f8;
  font-size: 40px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.bg-box_a span {
  background-color: orangered;
}

.bg-box_b span {
  background-color: mediumseagreen;
}

.bg-box_c span {
  background-color: mediumpurple;
}

.bg-box_d span {
  background-color: yellowgreen;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .bg-box_a, .bg-box_b, .bg-box_c, .bg-box_d {
    width: 11rem;
    height: 11rem;
    margin: 0rem 1.6rem 1rem 1.6rem;
  }

  .bg-box_a span, .bg-box_b span, .bg-box_c span, .bg-box_d span {
    font-size: 1.4rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .bg-box_a p, .bg-box_b p, .bg-box_c p, .bg-box_d p {
    font-size: 1.1rem;
  }

  .quest {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    padding: 20px 20px;
  }

  .base-timer {
    height: 250px;
    width: 250px;
  }

  .base-timer__label {
    width: 250px;
    height: 250px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bg-box_a, .bg-box_b, .bg-box_c, .bg-box_d {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0rem 2rem 1rem 2rem;
  }

  .bg-box_a span, .bg-box_b span, .bg-box_c span, .bg-box_d span {
    font-size: 1.6rem;
    width: 2.8rem;
    height: 2.8rem;
  }

  .bg-box_a p, .bg-box_b p, .bg-box_c p, .bg-box_d p {
    font-size: 1.2rem;
  }

  .quest {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    padding: 40px 40px;
  }

  .base-timer {
    height: 280px;
    width: 280px;
  }

  .base-timer__label {
    width: 280px;
    height: 280px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bg-box_a, .bg-box_b, .bg-box_c, .bg-box_d {
    margin: 2rem 1.5rem 0rem 1.5rem;
  }

  .bg-box_a p, .bg-box_b p, .bg-box_c p, .bg-box_d p {
    font-size: 1.3rem;
  }

  .quest {
    font-size: 1.6rem;
  }

  .base-timer {
    height: 320px;
    width: 320px;
  }

  .base-timer__label {
    width: 320px;
    height: 320px;
    font-size: 50px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bg-box_a, .bg-box_b, .bg-box_c, .bg-box_d {
    width: 13rem;
    height: 13rem;
    margin: 0rem 3rem 0rem 3rem;
  }

  .bg-box_a span, .bg-box_b span, .bg-box_c span, .bg-box_d span {
    width: 3.2rem;
    height: 3.2rem;
  }

  .bg-box_a p, .bg-box_b p, .bg-box_c p, .bg-box_d p {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  .quest {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    padding: 30px 30px;
  }

  .base-timer {
    height: 285px;
    width: 285px;
    margin-bottom: 0.5rem;
  }

  .base-timer__label {
    width: 285px;
    height: 285px;
    font-size: 55px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .bg-box_a, .bg-box_b, .bg-box_c, .bg-box_d {
    width: 15.5rem;
    height: 15.5rem;
  }

  .bg-box_a span, .bg-box_b span, .bg-box_c span, .bg-box_d span {
    font-size: 2rem;
    width: 3.8rem;
    height: 3.8rem;
  }

  .bg-box_a p, .bg-box_b p, .bg-box_c p, .bg-box_d p {
    font-size: 1.7rem;
  }

  .quest {
    font-size: 2.4rem;
    padding: 40px 40px;
  }

  .base-timer {
    height: 400px;
    width: 400px;
  }

  .base-timer__label {
    width: 400px;
    height: 400px;
    font-size: 62px;
  }
}
