/* X-Small devices (portrait phones, less than 576px) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {

  display: grid;
  height: 100vh;
  place-items: center;
  font-family: sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}

/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 300px;
  width: 300px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 2px;
  stroke: #f6f6f8;
}

.base-timer__label {
  color: #f6f6f8;
  position: absolute;

  
  /* Size should match the parent container */
  width: 300px;
  height: 300px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 48px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 9px;
  stroke: #ff04f7;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  /* stroke: currentColor; */
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) { 

}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {

}